{% extends "layout.html" %}

{% block title %}
    Add Category
{% endblock %}

{% block main %}
    <H6>Add Category</H6>
    <br>
    <br>
    <form action="/addcat" method="post">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="category" name="category" placeholder="Category" type="text">
        </div>
        <button class="btn btn-secondary btn-sm" type="submit">ADD</button>
    </form>
{% endblock %}
