{% extends "layout.html" %}

{% block title %}
    Search Bar
{% endblock %}

{% block main %}
    <H6 style="font-weight: normal">Search Item</H6>
    <br>
    <br>
    <form action="/isearch" method="post">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Item Description</span>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="descripion" name="description" placeholder="Description" type="text" style="border-color: black">
        </div>
        <button class="btn btn-secondary btn-sm" type="submit" style="background-color: gray">FIND</button>
    </form>
{% endblock %}
