{% extends "layout.html" %}

{% block title %}
    Remove Estimate
{% endblock %}

{% block main %}
        <div class="mb-3">
            <div class="section">
                <table align="center" col span="1" style="width: 50%">
                    <thead><h1>Remove Estimate</h1></thead>
                    <br>
                    <form action="/removeest" method="post">
                        <label>Confirm estimate</label>
                        <br>
                        <label>Estimate Name:  </label><p>{{ est_name }}</p>
                        <br>
                        <button class="btn btn-secondary btn-sm" type="submit">CONFIRM</button>
                    </form>
                </table>
            </div>
        </div>
{% endblock %}

<script>
    const choice = document.querySelector(".btn btn-primary");
    function choice(option) {
        buttonchoice = 'choice';
    }
</script>

