{% extends "layout.html" %}

{% block title %}
    Total
{% endblock %}

{% block main %}
        <div class="mb-3">
            <div class="section">
                <table align="center" col span="1" style="width: 100%">
                    <thead><h6>Cost Estimate</h6></thead>
                    <br>
                        <tbody>
                            <th>Estimate Name</th>
                            <td>{{ est_name }}</td>
                            <th>Total Estimate</th>
                            <td>{{ est_total }}</td>
                            <tr align="center">
                                <th scope="col"><h6>Description</h6></th>
                                <th scope="col"><h6>Unit</h6></th>
                                <th scope="col"><h6>Unit Price</h6></th>
                                <th scope="col"><h6>Quantity</h6></th>
                                <th scope="col"><h6>Cost</h6></th>
                            </tr>

                            {% for row in totalest %}
                                <tr align="center">

                                    <td>{{ row["description"] }}</td>
                                    <td>{{ row["unit"] }}</td>
                                    <td>{{ row["price"] | usd }}</td>
                                    <td>{{ item_qty }}</td>
                                    <td>{{ item_cost }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <
                </table>
            </div>
        </div>
{% endblock %}

<script>
    const choice = document.querySelector(".btn btn-primary");
    function choice(option) {
        buttonchoice = 'choice';
    }
</script>

