{% extends "layout.html" %}

{% block title %}
    Update Item
{% endblock %}

{% block main %}
    <H1>Update Unit Price</H1>
    <br>
    <br>
    <form action="/update" method="post">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">New Price</span>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="price" name="price" placeholder="Unit Price" type="decimal">
        </div>

        <button class="btn btn-secondary btn-sm" type="submit">UPDATE</button>
    </form>
{% endblock %}
